:root{
    --background-primary-color:#ffffff;
    --background-secondary-color:#f5f5f5;
    --background-tertiary-color:#00000000;

    --butoon-primary-color:#8F0101;
    --butoon-secondary-color:#B81515;

    --text-primary-color:#22222222;
    --text-secondary-color:#ffffff;
    
}
/* CSS RESET */
body, img, h1, p, fieldset, legend, input, button, select, textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}