@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-style: normal;
    font-display: swap;
}
:root{
    --primary-font: 'Montserrat', sans-serif;
    
    --primary-color:#8F0101;
    --secondary-color:#B81515;

    --background-primary-color:#ffffff;
    --background-secondary-color:#f5f5f5;
    --background-tertiary-color:#00000000;

    --text-primary-color:#22222222;
    --text-secondary-color:#ffffff;
    
    --title-weight:700;
    --text-weight:400;
    --menu-text-weight:500;
}
/* CSS RESET */
body, img, h1, p, fieldset, legend, input, button, select, textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}